<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>你好漂亮，很高兴认识你！</string>
	<string>hi，你好啊！</string>
	<string>在干嘛呢？</string>
	<string>能交个朋友吗？</string>
	<string>你是做什么的？</string>
	<string>你多大啊？</string>
	<string>你想要我怎么支持你？</string>
	<string>你能陪我聊聊天吗？</string>
</array>
</plist>
